.myfooter{
background-color:grey;
padding-top:80px;
}



.footersearch{
    
    height:50px;
    margin-top:10;
    background-color:grey;
    border-color: whitesmoke;
    color:white;
    

}





